/Android.class
/BasicDress.class
/BehaviouralPattern.class
/BuilderDesign.class
/CasualDress.class
/Channel.class
/Decorator.class
/Demo.class
/Dress.class
/DressDecorator.class
/Factory.class
/FactoryPattern.class
/FancyDress.class
/IOS.class
/OS.class
/Phone.class
/PhoneBuilder.class
/PrototypePattern.class
/SingleTon.class
/SingletonPattern.class
/SportyDress.class
/Subscriber.class
/Vehicle.class
/Windows.class
/Liskov.class
/Bicycle.class
/Car.class
/Deiveceswithengine.class
/Deiveceswithoutengine.class
/TransportationDevice.class
/Bicycle2.class
/Car2.class
/Deviceswithengine.class
/Deviceswithoutengine.class
